<<<<<<< HEAD
body {
  background-color:  #060042;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
  margin-top: 10px;
=======
body {
  background-color:  #060042;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
  margin-top: 10px;
>>>>>>> 5899968839f8e08b8773a08c3834de36241b08e0
}